@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 900px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 18px;
    text-align: center;
}

/* Auth Containers Side by Side */
.auth-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.auth-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.auth-box h2 {
    margin-bottom: 15px;
}

.auth-box input {
    width: 92%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background-color: #979440;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-box button:hover {
    background-color: #cac544;
}

#user-info {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Buttons Displayed in One Line */
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.button-group button {
    flex: 1;
    padding: 10px;
    background-color: #979440;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #cac544;
}
